<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_guilsinglleft</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_p</key>
		<integer>-15</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-90</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-65</integer>
		<key>T</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-65</integer>
		<key>W</key>
		<integer>-55</integer>
		<key>asterisk</key>
		<integer>-35</integer>
		<key>b</key>
		<integer>-20</integer>
		<key>backslash</key>
		<integer>-45</integer>
		<key>bullet</key>
		<integer>-20</integer>
		<key>guilsinglright</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-20</integer>
		<key>paragraph</key>
		<integer>-45</integer>
		<key>periodcentered</key>
		<integer>-30</integer>
		<key>registered</key>
		<integer>-80</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>trademark</key>
		<integer>-80</integer>
		<key>w</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_n</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_p</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_E</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>b</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-15</integer>
		<key>w</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_H</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_y</key>
		<integer>-45</integer>
		<key>w</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_U</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-45</integer>
		<key>@MMK_R_p</key>
		<integer>-15</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-50</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-45</integer>
		<key>V</key>
		<integer>-35</integer>
		<key>W</key>
		<integer>-30</integer>
		<key>asterisk</key>
		<integer>-25</integer>
		<key>paragraph</key>
		<integer>-45</integer>
		<key>registered</key>
		<integer>-30</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_N</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-25</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_p</key>
		<integer>-15</integer>
		<key>@MMK_R_period</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-35</integer>
		<key>@MMK_R_z</key>
		<integer>-15</integer>
		<key>AE</key>
		<integer>-40</integer>
		<key>ampersand</key>
		<integer>-30</integer>
		<key>g</key>
		<integer>-25</integer>
		<key>slash</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_H</key>
		<integer>-15</integer>
		<key>@MMK_R_O</key>
		<integer>15</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>0</integer>
		<key>AE</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>W</key>
		<integer>-7</integer>
		<key>X</key>
		<integer>-14</integer>
		<key>b</key>
		<integer>-15</integer>
		<key>germandbls</key>
		<integer>-10</integer>
		<key>parenright</key>
		<integer>-15</integer>
		<key>slash</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-45</integer>
		<key>@MMK_R_H</key>
		<integer>-35</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_Y</key>
		<integer>-15</integer>
		<key>J</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>W</key>
		<integer>-10</integer>
		<key>X</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_colon</key>
		<integer>-15</integer>
		<key>@MMK_R_n</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-15</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
		<key>AE</key>
		<integer>-60</integer>
		<key>g</key>
		<integer>-35</integer>
		<key>guilsinglright</key>
		<integer>-15</integer>
		<key>slash</key>
		<integer>-15</integer>
		<key>t</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_colon</key>
		<integer>-45</integer>
		<key>@MMK_R_f</key>
		<integer>-50</integer>
		<key>@MMK_R_guilsinglleft</key>
		<integer>-55</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-50</integer>
		<key>@MMK_R_i</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-55</integer>
		<key>@MMK_R_p</key>
		<integer>-45</integer>
		<key>@MMK_R_period</key>
		<integer>-90</integer>
		<key>@MMK_R_s</key>
		<integer>-55</integer>
		<key>@MMK_R_u</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-45</integer>
		<key>@MMK_R_z</key>
		<integer>-55</integer>
		<key>AE</key>
		<integer>-80</integer>
		<key>M</key>
		<integer>-20</integer>
		<key>ampersand</key>
		<integer>-60</integer>
		<key>at</key>
		<integer>-70</integer>
		<key>bullet</key>
		<integer>-55</integer>
		<key>g</key>
		<integer>-65</integer>
		<key>germandbls</key>
		<integer>-35</integer>
		<key>guilsinglright</key>
		<integer>-45</integer>
		<key>j</key>
		<integer>-35</integer>
		<key>periodcentered</key>
		<integer>-50</integer>
		<key>section</key>
		<integer>-15</integer>
		<key>slash</key>
		<integer>-60</integer>
		<key>t</key>
		<integer>-40</integer>
		<key>w</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_hyphen</key>
		<integer>-15</integer>
		<key>@MMK_R_p</key>
		<integer>-15</integer>
		<key>t</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-55</integer>
		<key>@MMK_R_p</key>
		<integer>-10</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-50</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-30</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-45</integer>
		<key>V</key>
		<integer>-55</integer>
		<key>W</key>
		<integer>-55</integer>
		<key>b</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-10</integer>
		<key>@MMK_R_U</key>
		<integer>-15</integer>
		<key>@MMK_R_Y</key>
		<integer>-35</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-25</integer>
		<key>V</key>
		<integer>-35</integer>
		<key>W</key>
		<integer>-30</integer>
		<key>b</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_colon</key>
	<dict>
		<key>@MMK_R_U</key>
		<integer>-15</integer>
		<key>@MMK_R_Y</key>
		<integer>-45</integer>
		<key>T</key>
		<integer>-45</integer>
		<key>V</key>
		<integer>-35</integer>
		<key>W</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_U</key>
		<integer>-15</integer>
		<key>@MMK_R_Y</key>
		<integer>-45</integer>
		<key>@MMK_R_o</key>
		<integer>5</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-25</integer>
		<key>T</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-35</integer>
		<key>W</key>
		<integer>-30</integer>
		<key>b</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_f</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-15</integer>
		<key>@MMK_R_i</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-23</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-25</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-20</integer>
		<key>ampersand</key>
		<integer>-10</integer>
		<key>at</key>
		<integer>-15</integer>
		<key>braceright</key>
		<integer>20</integer>
		<key>bracketright</key>
		<integer>10</integer>
		<key>g</key>
		<integer>-25</integer>
		<key>guillemetleft</key>
		<integer>-30</integer>
		<key>guillemetright</key>
		<integer>-20</integer>
		<key>parenright</key>
		<integer>15</integer>
		<key>periodcentered</key>
		<integer>-10</integer>
		<key>question</key>
		<integer>20</integer>
		<key>t</key>
		<integer>-15</integer>
		<key>w</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_guilsinglleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_U</key>
		<integer>-15</integer>
		<key>@MMK_R_Y</key>
		<integer>-45</integer>
		<key>T</key>
		<integer>-25</integer>
		<key>V</key>
		<integer>-45</integer>
		<key>W</key>
		<integer>-35</integer>
		<key>X</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_guilsinglright</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-10</integer>
		<key>@MMK_R_i</key>
		<integer>-10</integer>
		<key>@MMK_R_l</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
		<key>b</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_hyphen</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_Z</key>
		<integer>-15</integer>
		<key>@MMK_R_l</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-45</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>W</key>
		<integer>-25</integer>
		<key>X</key>
		<integer>-45</integer>
		<key>b</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_i</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-5</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>W</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_U</key>
		<integer>-15</integer>
		<key>@MMK_R_Y</key>
		<integer>-45</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-45</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-40</integer>
		<key>@MMK_R_y</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-35</integer>
		<key>W</key>
		<integer>-30</integer>
		<key>w</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_H</key>
		<integer>-25</integer>
		<key>@MMK_R_U</key>
		<integer>-15</integer>
		<key>@MMK_R_Y</key>
		<integer>-55</integer>
		<key>@MMK_R_l</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>10</integer>
		<key>@MMK_R_p</key>
		<integer>-15</integer>
		<key>@MMK_R_period</key>
		<integer>-20</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-40</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-35</integer>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-45</integer>
		<key>V</key>
		<integer>-45</integer>
		<key>W</key>
		<integer>-45</integer>
		<key>X</key>
		<integer>-10</integer>
		<key>asterisk</key>
		<integer>-20</integer>
		<key>b</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-25</integer>
		<key>braceright</key>
		<integer>-15</integer>
		<key>guillemetright</key>
		<integer>-15</integer>
		<key>parenright</key>
		<integer>-15</integer>
		<key>w</key>
		<integer>-20</integer>
		<key>x</key>
		<integer>-15</integer>
	</dict>
	<key>@MMK_L_period</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-110</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_p</key>
		<integer>-25</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-100</integer>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
		<key>@MMK_R_y</key>
		<integer>-60</integer>
		<key>T</key>
		<integer>-75</integer>
		<key>V</key>
		<integer>-100</integer>
		<key>W</key>
		<integer>-80</integer>
		<key>b</key>
		<integer>-20</integer>
		<key>eight</key>
		<integer>-15</integer>
		<key>four</key>
		<integer>-90</integer>
		<key>j</key>
		<integer>-25</integer>
		<key>nine</key>
		<integer>-15</integer>
		<key>seven</key>
		<integer>-15</integer>
		<key>six</key>
		<integer>-25</integer>
		<key>t</key>
		<integer>-30</integer>
		<key>w</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_quoteleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-90</integer>
		<key>@MMK_R_o</key>
		<integer>-35</integer>
		<key>@MMK_R_s</key>
		<integer>-35</integer>
		<key>questiondown</key>
		<integer>-65</integer>
	</dict>
	<key>@MMK_L_quoteright</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_U</key>
		<integer>-15</integer>
		<key>@MMK_R_Y</key>
		<integer>-55</integer>
		<key>T</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-35</integer>
		<key>W</key>
		<integer>-30</integer>
		<key>b</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_u</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-45</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>W</key>
		<integer>-25</integer>
		<key>b</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-5</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-45</integer>
		<key>@MMK_R_H</key>
		<integer>-45</integer>
		<key>@MMK_R_U</key>
		<integer>-15</integer>
		<key>@MMK_R_Y</key>
		<integer>-45</integer>
		<key>@MMK_R_a</key>
		<integer>-15</integer>
		<key>@MMK_R_guilsinglleft</key>
		<integer>-10</integer>
		<key>@MMK_R_l</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_period</key>
		<integer>-60</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-35</integer>
		<key>W</key>
		<integer>-30</integer>
		<key>X</key>
		<integer>-40</integer>
		<key>at</key>
		<integer>-20</integer>
		<key>b</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>periodcentered</key>
		<integer>-15</integer>
		<key>slash</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_z</key>
	<dict>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-55</integer>
		<key>@MMK_R_l</key>
		<integer>-10</integer>
		<key>@MMK_R_y</key>
		<integer>-7</integer>
		<key>T</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-40</integer>
		<key>W</key>
		<integer>-35</integer>
		<key>b</key>
		<integer>-15</integer>
		<key>t</key>
		<integer>-7</integer>
		<key>w</key>
		<integer>-5</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>AE</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>W</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-25</integer>
		<key>b</key>
		<integer>-10</integer>
		<key>germandbls</key>
		<integer>-7</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-45</integer>
		<key>@MMK_R_a</key>
		<integer>-20</integer>
		<key>@MMK_R_guilsinglleft</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-35</integer>
		<key>@MMK_R_p</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-90</integer>
		<key>@MMK_R_s</key>
		<integer>-25</integer>
		<key>@MMK_R_u</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-15</integer>
		<key>AE</key>
		<integer>-80</integer>
		<key>M</key>
		<integer>-10</integer>
		<key>ampersand</key>
		<integer>-30</integer>
		<key>at</key>
		<integer>-35</integer>
		<key>g</key>
		<integer>-30</integer>
		<key>germandbls</key>
		<integer>-15</integer>
		<key>guilsinglright</key>
		<integer>-25</integer>
		<key>periodcentered</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-15</integer>
		<key>w</key>
		<integer>-15</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_Y</key>
		<integer>-10</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-35</integer>
		<key>AE</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>b</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-15</integer>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_p</key>
		<integer>-10</integer>
		<key>@MMK_R_period</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-35</integer>
		<key>@MMK_R_z</key>
		<integer>-15</integer>
		<key>AE</key>
		<integer>-10</integer>
		<key>ampersand</key>
		<integer>-20</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>guilsinglright</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>-15</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-15</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_f</key>
		<integer>-15</integer>
		<key>@MMK_R_guilsinglleft</key>
		<integer>-45</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-45</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
		<key>@MMK_R_y</key>
		<integer>-45</integer>
		<key>J</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-15</integer>
		<key>W</key>
		<integer>-10</integer>
		<key>at</key>
		<integer>-20</integer>
		<key>b</key>
		<integer>-10</integer>
		<key>bullet</key>
		<integer>-45</integer>
		<key>guilsinglright</key>
		<integer>-15</integer>
		<key>j</key>
		<integer>-20</integer>
		<key>paragraph</key>
		<integer>-30</integer>
		<key>periodcentered</key>
		<integer>-60</integer>
		<key>t</key>
		<integer>-40</integer>
		<key>w</key>
		<integer>-40</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_p</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>W</key>
		<integer>-15</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_H</key>
		<integer>-15</integer>
		<key>@MMK_R_O</key>
		<integer>10</integer>
		<key>@MMK_R_a</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_period</key>
		<integer>-60</integer>
		<key>AE</key>
		<integer>-75</integer>
		<key>ampersand</key>
		<integer>-25</integer>
		<key>at</key>
		<integer>-20</integer>
		<key>germandbls</key>
		<integer>-15</integer>
		<key>slash</key>
		<integer>-45</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>0</integer>
		<key>y</key>
		<integer>30</integer>
		<key>yacute</key>
		<integer>30</integer>
		<key>ydieresis</key>
		<integer>30</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-35</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>@MMK_R_p</key>
		<integer>-15</integer>
		<key>@MMK_R_quoteright</key>
		<integer>-20</integer>
		<key>T</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>-35</integer>
		<key>W</key>
		<integer>-30</integer>
		<key>trademark</key>
		<integer>-20</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-35</integer>
		<key>@MMK_R_a</key>
		<integer>-45</integer>
		<key>@MMK_R_colon</key>
		<integer>-45</integer>
		<key>@MMK_R_guilsinglleft</key>
		<integer>-35</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-45</integer>
		<key>@MMK_R_n</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-45</integer>
		<key>@MMK_R_p</key>
		<integer>-30</integer>
		<key>@MMK_R_period</key>
		<integer>-75</integer>
		<key>@MMK_R_s</key>
		<integer>-35</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-30</integer>
		<key>AE</key>
		<integer>-80</integer>
		<key>ampersand</key>
		<integer>-10</integer>
		<key>at</key>
		<integer>-50</integer>
		<key>bullet</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-35</integer>
		<key>germandbls</key>
		<integer>-15</integer>
		<key>guilsinglright</key>
		<integer>-25</integer>
		<key>periodcentered</key>
		<integer>-65</integer>
		<key>slash</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-25</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-65</integer>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_S</key>
		<integer>-15</integer>
		<key>@MMK_R_a</key>
		<integer>-55</integer>
		<key>@MMK_R_colon</key>
		<integer>-35</integer>
		<key>@MMK_R_f</key>
		<integer>-35</integer>
		<key>@MMK_R_guilsinglleft</key>
		<integer>-30</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_i</key>
		<integer>-15</integer>
		<key>@MMK_R_n</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_p</key>
		<integer>-30</integer>
		<key>@MMK_R_period</key>
		<integer>-100</integer>
		<key>@MMK_R_s</key>
		<integer>-35</integer>
		<key>@MMK_R_u</key>
		<integer>-25</integer>
		<key>@MMK_R_y</key>
		<integer>-35</integer>
		<key>@MMK_R_z</key>
		<integer>-40</integer>
		<key>AE</key>
		<integer>-95</integer>
		<key>M</key>
		<integer>-20</integer>
		<key>ampersand</key>
		<integer>-50</integer>
		<key>at</key>
		<integer>-45</integer>
		<key>bullet</key>
		<integer>-30</integer>
		<key>g</key>
		<integer>-45</integer>
		<key>germandbls</key>
		<integer>-30</integer>
		<key>guilsinglright</key>
		<integer>-45</integer>
		<key>j</key>
		<integer>-25</integer>
		<key>periodcentered</key>
		<integer>-50</integer>
		<key>section</key>
		<integer>-25</integer>
		<key>slash</key>
		<integer>-60</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-30</integer>
		<key>x</key>
		<integer>-45</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-55</integer>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-50</integer>
		<key>@MMK_R_colon</key>
		<integer>-25</integer>
		<key>@MMK_R_f</key>
		<integer>-30</integer>
		<key>@MMK_R_guilsinglleft</key>
		<integer>-25</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-25</integer>
		<key>@MMK_R_i</key>
		<integer>-10</integer>
		<key>@MMK_R_n</key>
		<integer>-25</integer>
		<key>@MMK_R_o</key>
		<integer>-55</integer>
		<key>@MMK_R_p</key>
		<integer>-25</integer>
		<key>@MMK_R_period</key>
		<integer>-80</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>@MMK_R_z</key>
		<integer>-35</integer>
		<key>AE</key>
		<integer>-75</integer>
		<key>M</key>
		<integer>-15</integer>
		<key>ampersand</key>
		<integer>-20</integer>
		<key>at</key>
		<integer>-35</integer>
		<key>bullet</key>
		<integer>-35</integer>
		<key>g</key>
		<integer>-35</integer>
		<key>germandbls</key>
		<integer>-25</integer>
		<key>guilsinglright</key>
		<integer>-35</integer>
		<key>j</key>
		<integer>-20</integer>
		<key>periodcentered</key>
		<integer>-35</integer>
		<key>section</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-50</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-25</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-14</integer>
		<key>@MMK_R_f</key>
		<integer>-15</integer>
		<key>@MMK_R_guilsinglleft</key>
		<integer>-45</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-45</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_p</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
		<key>bullet</key>
		<integer>-45</integer>
		<key>guilsinglright</key>
		<integer>-20</integer>
		<key>paragraph</key>
		<integer>-30</integer>
		<key>periodcentered</key>
		<integer>-45</integer>
		<key>t</key>
		<integer>-35</integer>
		<key>w</key>
		<integer>-35</integer>
	</dict>
	<key>ampersand</key>
	<dict>
		<key>@MMK_R_U</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-70</integer>
		<key>@MMK_R_l</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-30</integer>
		<key>J</key>
		<integer>-25</integer>
		<key>T</key>
		<integer>-45</integer>
		<key>V</key>
		<integer>-65</integer>
		<key>W</key>
		<integer>-45</integer>
		<key>b</key>
		<integer>-30</integer>
		<key>j</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-15</integer>
		<key>w</key>
		<integer>-30</integer>
	</dict>
	<key>asterisk</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-35</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
	</dict>
	<key>at</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-55</integer>
		<key>@MMK_R_l</key>
		<integer>-15</integer>
		<key>@MMK_R_y</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-25</integer>
		<key>V</key>
		<integer>-45</integer>
		<key>W</key>
		<integer>-35</integer>
		<key>b</key>
		<integer>-15</integer>
	</dict>
	<key>backslash</key>
	<dict>
		<key>@MMK_R_U</key>
		<integer>-15</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_p</key>
		<integer>-10</integer>
		<key>@MMK_R_y</key>
		<integer>-35</integer>
		<key>T</key>
		<integer>-45</integer>
		<key>V</key>
		<integer>-60</integer>
		<key>W</key>
		<integer>-50</integer>
		<key>b</key>
		<integer>-20</integer>
		<key>four</key>
		<integer>-25</integer>
		<key>seven</key>
		<integer>-35</integer>
		<key>w</key>
		<integer>-25</integer>
		<key>zero</key>
		<integer>-40</integer>
	</dict>
	<key>braceleft</key>
	<dict>
		<key>@MMK_R_f</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
	</dict>
	<key>bullet</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-55</integer>
		<key>T</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>W</key>
		<integer>-35</integer>
		<key>X</key>
		<integer>-45</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>@MMK_R_u</key>
		<integer>-5</integer>
		<key>@MMK_R_y</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>b</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-10</integer>
	</dict>
	<key>eight</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-15</integer>
		<key>yen</key>
		<integer>-15</integer>
	</dict>
	<key>eth</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>W</key>
		<integer>-25</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>b</key>
		<integer>-20</integer>
	</dict>
	<key>exclamdown</key>
	<dict>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>W</key>
		<integer>-30</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-40</integer>
		<key>florin</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-30</integer>
	</dict>
	<key>florin</key>
	<dict>
		<key>four</key>
		<integer>-35</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-55</integer>
		<key>backslash</key>
		<integer>-35</integer>
		<key>florin</key>
		<integer>-45</integer>
		<key>slash</key>
		<integer>-30</integer>
		<key>yen</key>
		<integer>-20</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>@MMK_R_U</key>
		<integer>-15</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>T</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-25</integer>
		<key>W</key>
		<integer>-35</integer>
		<key>b</key>
		<integer>-15</integer>
	</dict>
	<key>greater</key>
	<dict>
		<key>seven</key>
		<integer>-25</integer>
		<key>three</key>
		<integer>-15</integer>
	</dict>
	<key>guillemetleft</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>b</key>
		<integer>-15</integer>
	</dict>
	<key>guillemetright</key>
	<dict>
		<key>@MMK_R_p</key>
		<integer>-10</integer>
	</dict>
	<key>guilsinglright</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-55</integer>
		<key>T</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>W</key>
		<integer>-25</integer>
		<key>X</key>
		<integer>-45</integer>
	</dict>
	<key>j</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_period</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-25</integer>
		<key>W</key>
		<integer>-20</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>@MMK_R_U</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-45</integer>
		<key>@MMK_R_guilsinglleft</key>
		<integer>-30</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-25</integer>
		<key>@MMK_R_y</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-35</integer>
		<key>W</key>
		<integer>-30</integer>
		<key>b</key>
		<integer>-25</integer>
		<key>g</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-10</integer>
		<key>t</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-10</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>@MMK_R_y</key>
		<integer>-20</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-60</integer>
		<key>florin</key>
		<integer>-35</integer>
		<key>slash</key>
		<integer>-45</integer>
		<key>yen</key>
		<integer>-30</integer>
	</dict>
	<key>one</key>
	<dict>
		<key>cent</key>
		<integer>-20</integer>
		<key>yen</key>
		<integer>-30</integer>
	</dict>
	<key>parenleft</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
	</dict>
	<key>periodcentered</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_y</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-65</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>W</key>
		<integer>-35</integer>
		<key>X</key>
		<integer>-45</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-20</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>@MMK_R_U</key>
		<integer>-25</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_quoteleft</key>
		<integer>-20</integer>
		<key>@MMK_R_y</key>
		<integer>0</integer>
		<key>T</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-45</integer>
		<key>W</key>
		<integer>-40</integer>
		<key>b</key>
		<integer>-10</integer>
		<key>backslash</key>
		<integer>-25</integer>
		<key>g</key>
		<integer>10</integer>
		<key>v</key>
		<integer>-15</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-7</integer>
	</dict>
	<key>questiondown</key>
	<dict>
		<key>@MMK_R_U</key>
		<integer>-15</integer>
		<key>@MMK_R_Y</key>
		<integer>-45</integer>
		<key>T</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>W</key>
		<integer>-25</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-35</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_l</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-35</integer>
		<key>V</key>
		<integer>-25</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>at</key>
		<integer>-15</integer>
		<key>b</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-30</integer>
	</dict>
	<key>registered</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
	</dict>
	<key>section</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-25</integer>
		<key>W</key>
		<integer>-20</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-65</integer>
		<key>cent</key>
		<integer>-35</integer>
		<key>florin</key>
		<integer>-50</integer>
		<key>four</key>
		<integer>-35</integer>
		<key>less</key>
		<integer>-35</integer>
		<key>slash</key>
		<integer>-60</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-15</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-45</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-25</integer>
		<key>four</key>
		<integer>-60</integer>
		<key>six</key>
		<integer>-20</integer>
		<key>zero</key>
		<integer>-20</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>@MMK_R_U</key>
		<integer>-15</integer>
		<key>@MMK_R_Y</key>
		<integer>-35</integer>
		<key>@MMK_R_l</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_y</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-35</integer>
		<key>W</key>
		<integer>-25</integer>
		<key>b</key>
		<integer>-10</integer>
	</dict>
	<key>three</key>
	<dict>
		<key>@MMK_R_period</key>
		<integer>-35</integer>
		<key>florin</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-30</integer>
		<key>yen</key>
		<integer>-15</integer>
	</dict>
	<key>trademark</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-35</integer>
		<key>@MMK_R_H</key>
		<integer>-35</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_l</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_period</key>
		<integer>-45</integer>
		<key>@MMK_R_s</key>
		<integer>-7</integer>
		<key>T</key>
		<integer>-25</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>W</key>
		<integer>-25</integer>
		<key>X</key>
		<integer>-35</integer>
		<key>b</key>
		<integer>-10</integer>
		<key>periodcentered</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>-30</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@MMK_R_guilsinglleft</key>
		<integer>-20</integer>
		<key>@MMK_R_hyphen</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-15</integer>
		<key>V</key>
		<integer>-45</integer>
		<key>periodcentered</key>
		<integer>-20</integer>
	</dict>
	<key>yen</key>
	<dict>
		<key>eight</key>
		<integer>-15</integer>
		<key>four</key>
		<integer>-30</integer>
		<key>nine</key>
		<integer>-15</integer>
		<key>zero</key>
		<integer>-15</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>backslash</key>
		<integer>-20</integer>
		<key>florin</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-20</integer>
		<key>yen</key>
		<integer>-15</integer>
	</dict>
</dict>
</plist>
