<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>B1D0FA45-0BED-409D-9800-57F37CCD9690</key>
		<dict>
			<key>HV</key>
			<integer>34</integer>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>EA62F474-A0CE-4CDB-8144-A83B4E00D785</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<false/>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>Eth</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>Lslash</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>Scaron</string>
		<string>T</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
		<string>Z</string>
		<string>Zcaron</string>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>eth</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>lslash</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>scaron</string>
		<string>germandbls</string>
		<string>t</string>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
		<string>z</string>
		<string>zcaron</string>
		<string>ff</string>
		<string>ffi</string>
		<string>ffl</string>
		<string>fi</string>
		<string>fl</string>
		<string>uni0915</string>
		<string>uni0916</string>
		<string>uni0917</string>
		<string>uni0918</string>
		<string>uni0919</string>
		<string>uni091A</string>
		<string>uni091B</string>
		<string>uni091C</string>
		<string>uni091D</string>
		<string>uni091E</string>
		<string>uni091F</string>
		<string>uni0920</string>
		<string>uni0921</string>
		<string>uni0922</string>
		<string>uni0923</string>
		<string>uni0924</string>
		<string>uni0925</string>
		<string>uni0926</string>
		<string>uni0927</string>
		<string>uni0928</string>
		<string>uni0929</string>
		<string>uni092A</string>
		<string>uni092B</string>
		<string>uni092C</string>
		<string>uni092D</string>
		<string>uni092E</string>
		<string>uni092F</string>
		<string>uni0930</string>
		<string>uni0931</string>
		<string>uni0932</string>
		<string>uni0933</string>
		<string>uni0934</string>
		<string>uni0935</string>
		<string>uni0936</string>
		<string>uni0937</string>
		<string>uni0938</string>
		<string>uni0939</string>
		<string>uni0958</string>
		<string>uni0959</string>
		<string>uni095A</string>
		<string>uni095B</string>
		<string>uni095C</string>
		<string>uni095D</string>
		<string>uni095E</string>
		<string>uni095F</string>
		<string>uni0979</string>
		<string>uni097A</string>
		<string>uni097B</string>
		<string>uni097C</string>
		<string>uni097E</string>
		<string>uni097F</string>
		<string>uni0908_uni0902</string>
		<string>uni0910_uni0902</string>
		<string>uni0913_uni0902</string>
		<string>uni0914_uni0902</string>
		<string>uni0915_uni094D</string>
		<string>uni0915_uni094D_uni0937</string>
		<string>uni0915_uni094D_uni0937_uni094D</string>
		<string>uni0916_uni094D</string>
		<string>uni0917_uni094D</string>
		<string>uni0918_uni094D</string>
		<string>uni0919_uni094D</string>
		<string>uni0919_uni094D_uni0915_uni094D_uni092F</string>
		<string>uni0919_uni094D_uni0915_uni094D_uni0937_uni094D_uni092F</string>
		<string>uni0919_uni094D_uni0916_uni094D_uni092F</string>
		<string>uni0919_uni094D_uni0917_uni094D_uni092F</string>
		<string>uni0919_uni094D_uni0918_uni094D_uni092F</string>
		<string>uni0919_uni094D_uni092E_uni094D_uni092F</string>
		<string>uni091A_uni094D</string>
		<string>uni091B_uni094D</string>
		<string>uni091C_uni094D</string>
		<string>uni091C_uni094D_uni091E</string>
		<string>uni091C_uni094D_uni091E_uni094D</string>
		<string>uni091D_uni094D</string>
		<string>uni091E_uni094D</string>
		<string>uni091F_uni094D</string>
		<string>uni091F_uni094D_uni091F_uni094D_uni092F</string>
		<string>uni091F_uni094D_uni0920_uni094D_uni092F</string>
		<string>uni0920_uni094D</string>
		<string>uni0920_uni094D_uni0920_uni094D_uni092F</string>
		<string>uni0921_uni094D</string>
		<string>uni0921_uni094D_uni0921_uni094D_uni092F</string>
		<string>uni0921_uni094D_uni0922_uni094D_uni092F</string>
		<string>uni0922_uni094D</string>
		<string>uni0922_uni094D_uni0922_uni094D_uni092F</string>
		<string>uni0923_uni094D</string>
		<string>uni0924_uni094D</string>
		<string>uni0925_uni094D</string>
		<string>uni0926_uni0943</string>
		<string>uni0926_uni094D</string>
		<string>uni0926_uni094D_uni0917_uni094D_uni092F</string>
		<string>uni0926_uni094D_uni0918_uni094D_uni092F</string>
		<string>uni0926_uni094D_uni0926_uni094D_uni092F</string>
		<string>uni0926_uni094D_uni0927_uni094D_uni092F</string>
		<string>uni0926_uni094D_uni0928_uni094D_uni092F</string>
		<string>uni0926_uni094D_uni092C_uni094D_uni092F</string>
		<string>uni0926_uni094D_uni092D_uni094D_uni092F</string>
		<string>uni0926_uni094D_uni0930_uni094D_uni092F</string>
		<string>uni0926_uni094D_uni0935_uni094D_uni092F</string>
		<string>uni0927_uni094D</string>
		<string>uni0928_uni094D</string>
		<string>uni0929_uni094D</string>
		<string>uni092A_uni094D</string>
		<string>uni092B_uni094D</string>
		<string>uni092C_uni094D</string>
		<string>uni092D_uni094D</string>
		<string>uni092E_uni094D</string>
		<string>uni092F_uni094D</string>
		<string>uni0930_uni0941</string>
		<string>uni0930_uni0942</string>
		<string>uni0930_uni094D</string>
		<string>uni0930_uni094D_uni0902</string>
		<string>uni0930_uni094D_uni200D</string>
		<string>uni0932_uni094D</string>
		<string>uni0933_uni094D</string>
		<string>uni0934_uni094D</string>
		<string>uni0935_uni094D</string>
		<string>uni0936_uni094D</string>
		<string>uni0937_uni094D</string>
		<string>uni0937_uni094D_uni091F_uni094D_uni092F</string>
		<string>uni0937_uni094D_uni0920_uni094D_uni092F</string>
		<string>uni0938_uni094D</string>
		<string>uni0939_uni0941</string>
		<string>uni0939_uni0942</string>
		<string>uni0939_uni0943</string>
		<string>uni0939_uni094D</string>
		<string>uni0958_uni094D</string>
		<string>uni0959_uni094D</string>
		<string>uni095A_uni094D</string>
		<string>uni095B_uni094D</string>
		<string>uni095E_uni094D</string>
		<string>uni0940_uni0930_uni094D</string>
		<string>uni0940_uni0930_uni094D_uni0902</string>
		<string>uni0940_uni0902</string>
		<string>uni094B_uni0930_uni094D</string>
		<string>uni094B_uni0930_uni094D_uni0902</string>
		<string>uni094B_uni0902</string>
		<string>uni094C_uni0930_uni094D</string>
		<string>uni094C_uni0930_uni094D_uni0902</string>
		<string>uni094C_uni0902</string>
		<string>uni0930_uni094D.abvs</string>
		<string>uni0930_uni094D_uni0902.abvs</string>
		<string>uni0940.pres_uni0930_uni094D</string>
		<string>uni0940.pres_uni0930_uni094D_uni0902</string>
		<string>uni0940.pres_uni0902</string>
		<string>uni0904</string>
		<string>uni0972</string>
		<string>uni0905</string>
		<string>uni0906</string>
		<string>uni0907</string>
		<string>uni0908</string>
		<string>uni0909</string>
		<string>uni090A</string>
		<string>uni090B</string>
		<string>uni0960</string>
		<string>uni090C</string>
		<string>uni0961</string>
		<string>uni090D</string>
		<string>uni090E</string>
		<string>uni090F</string>
		<string>uni0910</string>
		<string>uni0911</string>
		<string>uni0912</string>
		<string>uni0913</string>
		<string>uni0914</string>
		<string>uni0973</string>
		<string>uni0974</string>
		<string>uni0975</string>
		<string>uni0976</string>
		<string>uni0977</string>
		<string>uni093E</string>
		<string>uni093F</string>
		<string>uni0940</string>
		<string>uni0949</string>
		<string>uni094A</string>
		<string>uni094B</string>
		<string>uni094C</string>
		<string>uni093B</string>
		<string>uni094F</string>
		<string>uni093F.pres</string>
		<string>uni0940.pres</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>uni0966</string>
		<string>uni0967</string>
		<string>uni0968</string>
		<string>uni0969</string>
		<string>uni096A</string>
		<string>uni096B</string>
		<string>uni096C</string>
		<string>uni096D</string>
		<string>uni096E</string>
		<string>uni096F</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>uni00AD</string>
		<string>guillemetleft</string>
		<string>guillemetright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>uni097D</string>
		<string>uni0964</string>
		<string>uni0965</string>
		<string>uni0970</string>
		<string>uni0971</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>space.001</string>
		<string>afii61664</string>
		<string>uni200D</string>
		<string>.notdef</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>euro</string>
		<string>florin</string>
		<string>sterling</string>
		<string>uni20B9</string>
		<string>yen</string>
		<string>approxequal</string>
		<string>asciitilde</string>
		<string>divide</string>
		<string>equal</string>
		<string>greater</string>
		<string>greaterequal</string>
		<string>infinity</string>
		<string>integral</string>
		<string>less</string>
		<string>lessequal</string>
		<string>logicalnot</string>
		<string>minus</string>
		<string>multiply</string>
		<string>notequal</string>
		<string>partialdiff</string>
		<string>percent</string>
		<string>perthousand</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>product</string>
		<string>radical</string>
		<string>summation</string>
		<string>uni25CC</string>
		<string>lozenge</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>asciicircum</string>
		<string>dagger</string>
		<string>daggerdbl</string>
		<string>uni093D</string>
		<string>uni0950</string>
		<string>acute</string>
		<string>breve</string>
		<string>caron</string>
		<string>cedilla</string>
		<string>circumflex</string>
		<string>dieresis</string>
		<string>dotaccent</string>
		<string>grave</string>
		<string>hungarumlaut</string>
		<string>macron</string>
		<string>ogonek</string>
		<string>ring</string>
		<string>tilde</string>
		<string>uni0903</string>
		<string>uni0941</string>
		<string>uni0942</string>
		<string>uni0943</string>
		<string>uni0944</string>
		<string>uni0962</string>
		<string>uni0963</string>
		<string>uni0945</string>
		<string>uni0901</string>
		<string>uni0946</string>
		<string>uni0947</string>
		<string>uni0947_uni0930_uni094D</string>
		<string>uni0947_uni0930_uni094D_uni0902</string>
		<string>uni0947_uni0902</string>
		<string>uni0948</string>
		<string>uni0948_uni0930_uni094D</string>
		<string>uni0948_uni0930_uni094D_uni0902</string>
		<string>uni0948_uni0902</string>
		<string>uni0902</string>
		<string>uni094D</string>
		<string>uni093C</string>
		<string>uni0900</string>
		<string>uni0955</string>
		<string>uni093A</string>
		<string>uni0956</string>
		<string>uni0957</string>
		<string>uni0951</string>
		<string>uni0952</string>
		<string>uni0953</string>
		<string>uni0954</string>
		<string>uni0945.abvs</string>
		<string>uni0901.abvs</string>
		<string>uni0946.abvs</string>
		<string>uni0947.abvs</string>
		<string>uni0947_uni0930_uni094D.abvs</string>
		<string>uni0947_uni0930_uni094D_uni0902.abvs</string>
		<string>uni0947_uni0902.abvs</string>
		<string>uni0948.abvs</string>
		<string>uni0948_uni0930_uni094D.abvs</string>
		<string>uni0948_uni0930_uni094D_uni0902.abvs</string>
		<string>uni0948_uni0902.abvs</string>
		<string>uni0902.abvs</string>
		<string>uni0951.abvs</string>
		<string>uni0941.blws</string>
		<string>uni0942.blws</string>
		<string>uni0943.blws</string>
		<string>uni0944.blws</string>
		<string>uni0962.blws</string>
		<string>uni0963.blws</string>
		<string>uni094D.blws</string>
		<string>bindu-deva</string>
		<string>g1</string>
		<string>g132</string>
		<string>g133</string>
		<string>g134</string>
		<string>g135</string>
		<string>g136</string>
		<string>g167</string>
		<string>g181</string>
		<string>g182</string>
		<string>g183</string>
		<string>g193</string>
		<string>g194</string>
		<string>g195</string>
		<string>g196</string>
		<string>g197</string>
		<string>g198</string>
		<string>g2</string>
		<string>g200</string>
		<string>g201</string>
		<string>g202</string>
		<string>g203</string>
		<string>g204</string>
		<string>g205</string>
		<string>g206</string>
		<string>g207</string>
		<string>g208</string>
		<string>g209</string>
		<string>g210</string>
		<string>g211</string>
		<string>g212</string>
		<string>g213</string>
		<string>g214</string>
		<string>g215</string>
		<string>g216</string>
		<string>g217</string>
		<string>g218</string>
		<string>g219</string>
		<string>g220</string>
		<string>g221</string>
		<string>g222</string>
		<string>g223</string>
		<string>g224</string>
		<string>g225</string>
		<string>g226</string>
		<string>g227</string>
		<string>g228</string>
		<string>g229</string>
		<string>g230</string>
		<string>g231</string>
		<string>g232</string>
		<string>g233</string>
		<string>g234</string>
		<string>g235</string>
		<string>g236</string>
		<string>g237</string>
		<string>g238</string>
		<string>g239</string>
		<string>g240</string>
		<string>g241</string>
		<string>g242</string>
		<string>g243</string>
		<string>g244</string>
		<string>g245</string>
		<string>g246</string>
		<string>g247</string>
		<string>g248</string>
		<string>g249</string>
		<string>g250</string>
		<string>g251</string>
		<string>g252</string>
		<string>g253</string>
		<string>g254</string>
		<string>g255</string>
		<string>g256</string>
		<string>g257</string>
		<string>g258</string>
		<string>g259</string>
		<string>g260</string>
		<string>g261</string>
		<string>g262</string>
		<string>g263</string>
		<string>g264</string>
		<string>g265</string>
		<string>g266</string>
		<string>g267</string>
		<string>g268</string>
		<string>g269</string>
		<string>g270</string>
		<string>g271</string>
		<string>g272</string>
		<string>g277</string>
		<string>g278</string>
		<string>g279</string>
		<string>g280</string>
		<string>g281</string>
		<string>g282</string>
		<string>g283</string>
		<string>g290</string>
		<string>g291</string>
		<string>g292</string>
		<string>g293</string>
		<string>g294</string>
		<string>g295</string>
		<string>g306</string>
		<string>g314</string>
		<string>g323</string>
		<string>g324</string>
		<string>g325</string>
		<string>g329</string>
		<string>g330</string>
		<string>g331</string>
		<string>g332</string>
		<string>g333</string>
		<string>g334</string>
		<string>g335</string>
		<string>g336</string>
		<string>g337</string>
		<string>g344</string>
		<string>g345</string>
		<string>g370</string>
		<string>g371</string>
		<string>g372</string>
		<string>g373</string>
		<string>g374</string>
		<string>g375</string>
		<string>g376</string>
		<string>g377</string>
		<string>g378</string>
		<string>g379</string>
		<string>g380</string>
		<string>g381</string>
		<string>g382</string>
		<string>g383</string>
		<string>g384</string>
		<string>g385</string>
		<string>g386</string>
		<string>g387</string>
		<string>g388</string>
		<string>g389</string>
		<string>g390</string>
		<string>g391</string>
		<string>g392</string>
		<string>g393</string>
		<string>g394</string>
		<string>uni1CDA</string>
		<string>uni1CDA.abvs</string>
	</array>
</dict>
</plist>
